{% include 'product_tracking/head.html' %}
{% load static %}
{% block content %}
    <style>
        .dropdown-item {
            width: 370px; /* Set a fixed width for dropdown items */
            white-space: normal; /* Allow text to wrap */
            overflow: hidden; /* Hide overflow text */
            text-overflow: ellipsis; /* Add ellipsis for overflowing text */
            word-wrap: break-word; /* Break long words */
        }

        .spaced-btn {
            margin-right: 10px;
        }

        /* Remove the margin from the last button if needed */
        .spaced-btn:last-child {
            margin-right: 0;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        $(document).ready(function () {

            document.getElementById('add-jobs-btn').addEventListener('click', function () {
                window.location.href = '{% url "add_job_test" %}';
            });


            $('#jobForm').on('submit', function (event) {
                event.preventDefault(); // Prevent the default form submission

                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: $(this).serialize(), // Serialize form data
                    success: function (response) {
                        if (response.success) {
                            // If the server returns a success message, reload the page
                            alert('Job Added Successfully!!');
                            window.location.reload();
                        } else {
                            // If there's a failure message, display an alert
                            alert('Kindly add then submit');
                        }
                    },
                    error: function (xhr) {
                        // Display an alert message with the error
                        alert('Kindly add then submit');
                    }
                });
            });

            // Fetch status counts
            $.ajax({
                url: '/get_status_counts/',
                type: 'GET',
                success: function (response) {
                    $('#perfoma-count').text(response.perfoma_count);
                    $('#prepsheet-count').text(response.prepsheet_count);
                    $('#quatation-count').text(response.quatation_count);
                    $('#DeliveryChallan-count').text(response.deliveryChallan_count);
                    console.log('count of perfoma:', response.perfoma_count);
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });

            // Cancel button functionality
            $('#cancelButton').click(function () {
                $('#offcanvasExample').offcanvas('hide');
            });

            let currentPage = 1;
            const pageSize = 10;
            let totalItems = 0;

            // Fetch job list
            function fetchJobList() {
                const startIndex = (currentPage - 1) * pageSize;
                const endIndex = startIndex + pageSize;

                $.ajax({
                    url: '/fetch_job_list/',
                    type: 'GET',
                    success: function (data) {
                        totalItems = data.length;
                        const currentPageData = data.slice(startIndex, endIndex);
                        $('#category-table-body').empty();
                        $.each(currentPageData, function (index, jobs) {
                            var row = '<tr>' +
                                '<td>' + (index + 1) + '</td>' +
                                '<td style="display: none;">' + jobs.id + '</td>' +
                                '<td><a href="#" class="job-reference-link" data-id="' + jobs.id + '" style="color: #0c6dff; text-decoration: underline;">' + jobs.job_reference_no + '</a></td>' +
                                '<td>' + jobs.title + '</td>' +
                                '<td>' + jobs.status + '</td>' +
                                '<td>' +
                                {#'<button class="btn btn-sm btn-primary edit-btn spaced-btn me-2"><i class="fa fa-pencil"></i></button>' +#}
                                '<button class="btn btn-sm btn-danger delete-btn spaced-btn"><i class="fa fa-trash"></i></button>' +
                                '</td>' +
                                '</tr>';
                            $('#category-table-body').append(row);

                            console.log('fetched jobs id:', jobs.id)
                        });
                        updatePaginationCount(data.length);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error fetching job data:', error);
                    }
                });
            }

            // Edit button functionality
            $(document).on('click', '.edit-btn', function () {
                var row = $(this).closest('tr');
                var jobId = row.find('td:eq(1)').text().trim();
                {#var jobReferenceNo = row.find('td:eq(2)').text().trim();#}

                $.ajax({
                    url: '/get_job_details/',
                    type: 'GET',
                    data: {
                        {#'jobReferenceNo': jobReferenceNo,#}
                        'jobId': jobId
                    },
                    dataType: 'json',
                    success: function (response) {
                        if (response.success) {
                            // Redirect to job details page with jobReferenceNo
                            window.location.href = '/job_details/?jobId=' + jobId;
                            {#console.log('Fetched Job Reference No:', jobReferenceNo);#}
                            console.log('Fetched Job ID:', jobId);
                        } else {
                            alert('Failed to fetch job details: ' + response.error);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error in AJAX request:', status, error);
                        alert('Failed to fetch job details. Please try again later.');
                    }
                });
            });

            // Update pagination count
            function updatePaginationCount(totalItems) {
                const totalPages = Math.ceil(totalItems / pageSize);
                $('#pagination-count').text(`Showing ${currentPage * pageSize - pageSize + 1} to ${Math.min(currentPage * pageSize, totalItems)} of ${totalItems} entries`);

                if (currentPage > totalPages) {
                    currentPage = totalPages;
                }
                $('#prev-page-btn').prop('disabled', currentPage === 1);
                $('#next-page-btn').prop('disabled', currentPage === totalPages);
            }

            // Delete button functionality
            $(document).on('click', '.delete-btn', function () {
                var row = $(this).closest('tr');
                var jobId = row.find('td:eq(1)').text().trim();
                console.log('fetch the job Id:', jobId)

                if (confirm('Are you sure you want to delete this job?')) {
                    var csrftoken = getCookie('csrftoken');

                    $.ajax({
                        url: '/delete_jobs/' + jobId + '/',
                        type: 'POST',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRFToken', csrftoken);
                        },
                        success: function (response) {
                            console.log(response);
                            location.reload();
                            fetchJobList();
                        },
                        error: function (xhr, status, error) {
                            console.error('Error deleting job:', error);
                        }
                    });
                }
            });

            // Get CSRF token
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            // Fetch job list on page load
            fetchJobList();

            // Pagination button functionality
            $('#prev-page-btn').click(function () {
                if (currentPage > 1) {
                    currentPage--;
                    fetchJobList();
                }
            });

            $('#next-page-btn').click(function () {
                const totalPages = Math.ceil(totalItems / pageSize);
                if (currentPage < totalPages) {
                    currentPage++;
                    fetchJobList();
                }
            });

            // Fetch master categories
            function fetchMasterCategories() {
                $.ajax({
                    url: '/fetch_master_categories/',
                    type: 'GET',
                    success: function (data) {
                        console.log('Fetched Master Category Names:', data);
                        var masterCategories = data.master_categories;
                        window.masterCategories = masterCategories;
                    },
                    error: function (xhr, status, error) {
                        console.error('Error fetching master categories:', error);
                    }
                });
            }

            // Fetch equipment names
            function fetchEquipmentNames() {
                $.ajax({
                    url: '/fetch_equipment_names/',
                    type: 'GET',
                    success: function (data) {
                        console.log('Fetched Equipment Names:', data);  // Debugging line
                        var equipmentNames = data.equipment_names;
                        window.equipmentNames = equipmentNames;
                    },
                    error: function (xhr, status, error) {
                        console.error('Error fetching equipment names:', error);
                    }
                });
            }

            // Calculate number of days
            function calculateNumberOfDays() {
                var startDate = $('#showStart').val();
                var endDate = $('#showEnd').val();

                if (startDate && endDate) {
                    var start = new Date(startDate);
                    var end = new Date(endDate);
                    var timeDiff = Math.abs(end - start);
                    var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)) + 1;

                    $('#number_of_days').val(diffDays);

                    $('#equipment-table tbody tr').each(function () {
                        $(this).find('.number_of_days').val(diffDays);
                    });
                }
            }

            // Function to calculate and update the total amount
            function updateTotalAmount() {
                let total = 0;

                // Sum all amount inputs
                $('.amount').each(function () {
                    const amount = parseFloat($(this).val());
                    if (!isNaN(amount)) {
                        total += amount;
                    }
                });

                // Update the total_amount input field
                $('#total_amount').val(total);

                // Update the amount after discount
                updateDiscountedAmount();
            }

            // Function to calculate and update the amount after discount
            function updateDiscountedAmount() {
                const totalAmount = parseFloat($('#total_amount').val());
                const discount = parseFloat($('#discount').val());

                if (!isNaN(totalAmount) && !isNaN(discount)) {
                    const discountAmount = (discount / 100) * totalAmount;
                    const discountedAmount = totalAmount - discountAmount;
                    $('#discounted_amount').val(discountedAmount);

                    var gst = discountedAmount * 0.18;
                    var amountTotal = discountedAmount + gst;
                    $('#total_amount_cal').val(amountTotal);
                }
            }

            // Event listener for changes in amount input fields
            $('#equipment-table-body').on('input', '.amount', function () {
                updateTotalAmount();
            });

            // Event listener for changes in discount input field
            $('#discount').on('input', function () {
                updateDiscountedAmount();
            });

            // Event listener to update total amount when clicking outside
            $(document).on('click', function (event) {
                // Check if clicked element is not within equipment table or its inputs
                if (!$(event.target).closest('#equipment-table, .form-control').length) {
                    updateTotalAmount();
                }
            });

            // Save button click event
            $('#equipment-table').on('click', '.save-row-btn-new', function (event) {
                event.preventDefault();
                var row = $(this).closest('tr');
                var rowData = {
                    category: row.find('.master-category-dropdown').val(),
                    equipment: row.find('.equipment-name-dropdown').val(),
                    quantity: row.find('.quantity').val(),
                    days: row.find('.number_of_days').val(),
                    amount: row.find('.amount').val()
                };
                console.log('fetch the row Data:', rowData)

                var formData = {
                    title: $('#titleInput').val(),
                    client_name: $('#clientNameDropdown').val(),
                    venue_address: $('#venueAddressDropdown').val(),
                    status: $('#status').val(),
                    crew_type: $('#crew_type').val().join(','),
                    no_of_container: $('#input-box').val(),
                    employee: $('#employee').val().join(','),
                    setup_date: $('#prepDate').val(),
                    rehearsal_date: $('#outDate').val(),
                    start_date: $('#showStart').val(),
                    end_date: $('#showEnd').val()
                };
                console.log('Fetch the Form Data:', formData)

                var combinedData = {...rowData, ...formData};
                console.log('Fetch the Combine Date:', combinedData)

                // Check if the equipment name already exists in the temporary table
                $.ajax({
                    url: '/check_equipment_in_temp/',
                    type: 'POST',
                    data: {
                        title: combinedData.title,
                        equipment_name: combinedData.equipment,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data) {
                        if (data.exists) {
                            alert(`Equipment name has already been added.`);
                            row.find('.equipment-name-dropdown').val(''); // Reset the dropdown selection
                        } else {
                            console.log('Checking if equipment exists:', {
                                title: combinedData.title,
                                equipment_name: combinedData.equipment
                            });
                            // If the equipment name does not exist, proceed with saving the row data
                            saveRowData(combinedData);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error checking equipment existence:', error);
                    }
                });
            });

            // Function to save row data
            function saveRowData(combinedData) {
                $.ajax({
                    url: '/save_row_data/',
                    type: 'POST',
                    data: {
                        title: combinedData.title,
                        client_name: combinedData.client_name,
                        venue_address: combinedData.venue_address,
                        status: combinedData.status,
                        crew_type: combinedData.crew_type,
                        no_of_container: combinedData.no_of_container,
                        employee: combinedData.employee,
                        setup_date: combinedData.setup_date,
                        rehearsal_date: combinedData.rehearsal_date,
                        start_date: combinedData.start_date,
                        end_date: combinedData.end_date,
                        category_name: combinedData.category,
                        equipment_name: combinedData.equipment,
                        quantity: combinedData.quantity,
                        number_of_days: combinedData.days,
                        amount: combinedData.amount,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (response) {
                        alert('Row saved successfully');
                        console.log('Row data saved successfully:', response);
                        console.log('Row data saved successfully:', combinedData.employee, combinedData.crew_type, combinedData.no_of_container)
                    },
                    error: function (xhr, status, error) {
                        console.error('Error saving row data:', error);
                    }
                });
            }

            // Add row to equipment table
            function addRow() {
                var masterCategoryOptions = window.masterCategories.map(function (category) {
                    return '<option value="' + category.category_name + '">' + category.category_name + '</option>';
                }).join('');

                var newRow = '<tr>' +
                    '<td><select class="form-control master-category-dropdown" name="category_name" required>' +
                    '<option value="" selected>Select Category</option>' + masterCategoryOptions + '</select></td>' +
                    '<td><select class="form-control equipment-name-dropdown" name="equipment_name" style="width: 200px;" required>' +
                    '<option value="" selected>Select Equipment</option></select></td>' +
                    '<td><input type="number" class="form-control quantity" min="1" name="quantity" required></td>' +
                    '<td><input type="number" class="form-control number_of_days" name="number_of_days" required></td>' +
                    '<td class="amount-cell"><input type="number" class="form-control amount" name="amount" required></td>' +
                    '<td><button class="btn btn-sm btn-primary save-row-btn-new me-2" data-toggle="tooltip" title="Save New Jobs"><i class="fa fa-check"></i></button>' +
                    '<button class="btn btn-sm btn-danger remove-row-btn-new me-2" data-toggle="tooltip" title="Delete Jobs"><i class="fa fa-trash"></i></button></td>' +

                    '</tr>';

                $('#equipment-table tbody').append(newRow);

                calculateNumberOfDays();
                updateAmountColumnVisibility();

                $('.master-category-dropdown').last().change(function () {
                    var categoryType = $(this).val();
                    var $equipmentDropdown = $(this).closest('tr').find('.equipment-name-dropdown');

                    if (categoryType) {
                        $.ajax({
                            url: '/fetch_equipment_names/',
                            type: 'GET',
                            data: {
                                'category_name': categoryType
                            },
                            success: function (data) {
                                var equipmentNames = data.equipment_names;
                                var equipmentOptions = '<option value="" selected>Select Equipment</option>';
                                equipmentNames.forEach(function (equipment) {
                                    equipmentOptions += '<option value="' + equipment.id + '">' + equipment.equipment_name + '</option>';
                                });
                                $equipmentDropdown.html(equipmentOptions);
                            },
                            error: function (xhr, status, error) {
                                console.error('Error fetching equipment names:', error);
                            }
                        });
                    } else {
                        $equipmentDropdown.html('<option value="" selected>Select Equipment</option>');
                    }
                });

                $(document).on('change', '.equipment-name-dropdown', function () {
                    var selectedEquipmentId = $(this).val();
                    var $rentalPriceField = $(this).closest('tr').find('.amount');
                    fetchRentalPrice(selectedEquipmentId, $rentalPriceField);
                });

                $(document).on('input', '.quantity', function () {
                    var selectedEquipmentId = $(this).closest('tr').find('.equipment-name-dropdown').val();
                    var quantity = $(this).val();
                    checkStockAvailability(selectedEquipmentId, quantity);
                });
            }

            function checkStockAvailability(equipmentId, quantity) {
                var csrftoken = getCookie('csrftoken');
                $.ajax({
                    url: '/check_stock_availability/',
                    type: 'POST',
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    data: {
                        'equipment_id': equipmentId,
                        'quantity': quantity
                    },
                    success: function (data) {
                        if (data.status === 'error') {
                            alert(data.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error checking stock availability:', error);
                    }
                });
            }

            // Quantity change event
            $('#equipment-table').on('input', '.quantity', function () {
                var quantity = $(this).val();
                var amountField = $(this).closest('tr').find('.amount');
                var rentalPrice = amountField.data('base-rental-price');
                var totalAmount = quantity * rentalPrice;
                amountField.val(totalAmount);
                updateTotalAmount()
            });


            // Function to update the visibility of the amount column based on the selected status
            function updateAmountColumnVisibility() {
                var selectedStatus = $('#status').val();
                if (selectedStatus === 'Prepsheet' || selectedStatus === 'Delivery Challan') {
                    // Hide amount column
                    {#$('.amount-column, .amount').closest('td').hide();#}
                    $('.amount-column').hide();
                    $('.amount-cell').hide();
                } else {
                    // Show amount column
                    {#$('.amount-column, .amount').closest('td').show();#}
                    $('.amount-column').show();
                    $('.amount-cell').show();
                }
            }

            // Event listener for status dropdown change
            $('#status').on('change', function () {
                updateAmountColumnVisibility();
            });


            // Trigger change event on page load to set the initial state
            $('#status').trigger('change');

            // Fetch rental price
            function fetchRentalPrice(equipmentId, amountField) {
                $.ajax({
                    url: '/fetch_rental_price/',
                    type: 'GET',
                    data: {equipment_id: equipmentId},
                    success: function (data) {
                        amountField.data('base-rental-price', data.rental_price);
                        amountField.val(data.rental_price);
                        amountField.closest('tr').find('.quantity').trigger('input');
                        updateTotalAmount()
                    },
                    error: function (xhr, status, error) {
                        console.error('Error fetching rental price:', error);
                    }
                });
            }

            // Remove row from equipment table
            $('#equipment-table').on('click', '.remove-row-btn-new', function () {
                $(this).closest('tr').remove();

                var category = $(this).closest('tr').find('.master-category-dropdown').val();
                var equipment = $(this).closest('tr').find('.equipment-name-dropdown').val();
                var quantity = $(this).closest('tr').find('.quantity').val();
                var days = $(this).closest('tr').find('.number_of_days').val();
                var amount = $(this).closest('tr').find('.amount').val();

                deleteRowFromTempTable(category, equipment, quantity, days, amount);
            });

            // Equipment name dropdown change event
            $('#equipment-table').on('change', '.equipment-name-dropdown', function () {
                var equipmentId = $(this).val();
                var amountField = $(this).closest('tr').find('.amount');
                fetchRentalPrice(equipmentId, amountField);
            });

            // Date input change event to calculate number of days
            $('#showStart, #showEnd').change(function () {
                calculateNumberOfDays();
            });

            // Save button click event
            $('#equipment-table').on('click', '.save-row-btn', function (event) {
                event.preventDefault();
                var row = $(this).closest('tr');
                var rowData = {
                    category_name: row.find('.master-category-dropdown').val(),
                    equipment_name: row.find('.equipment-name-dropdown').val(),
                    quantity: row.find('.quantity').val(),
                    number_of_days: row.find('.number_of_days').val(),
                    amount: row.find('.amount').val()
                };
                console.log('Fetch the row Data:', rowData);

                var formData = {
                    title: $('#titleInput').val(),
                    client_name: $('#clientNameDropdown').val(),
                    contact_person_name: $('#clientContactName').val(),
                    contact_person_number: $('#clientContactNumber').val(),
                    venue_address: $('#venueAddressDropdown').val(),
                    status: $('#status').val(),
                    crew_type: $('#crew_type').val().join(','),
                    no_of_container: $('#input-box').val(),
                    employee: $('#employee').val().join(','),
                    setup_date: $('#prepDate').val(),
                    rehearsal_date: $('#outDate').val(),
                    start_date: $('#showStart').val(),
                    end_date: $('#showEnd').val(),
                    total_days: $('#number_of_days').val(),
                    amount_row: $('#total_amount').val(),
                    discount: $('#discount').val(),
                    discount_amount: $('#discounted_amount').val(),
                    total_amount: $('#total_amount_cal').val(),
                    category_name: rowData.category_name,
                    equipment_name: rowData.equipment_name,
                    quantity: rowData.quantity,
                    number_of_days: rowData.number_of_days,
                    amount: rowData.amount,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                };

                $.ajax({
                    url: '{% url "save_row_data" %}',
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        console.log(response);
                        alert('Row Add Successfully')
                    },
                    error: function (xhr, status, error) {
                        console.error('AJAX request failed:', status, error);
                    }
                });
            });

            // Function to delete row data from the temp table
            function deleteRowFromTempTable(category, equipment, quantity, days, amount) {
                $.ajax({
                    url: '/delete_row_from_temp_table/',
                    type: 'POST',
                    data: {
                        category: category,
                        equipment: equipment,
                        quantity: quantity,
                        days: days,
                        amount: amount,
                        csrfmiddlewaretoken: getCookie('csrftoken')
                    },
                    success: function (response) {
                        console.log('Row data deleted successfully:', response);
                        alert('Row data deleted successfully.')
                    },
                    error: function (xhr, status, error) {
                        console.error('Error deleting row data:', error);
                    }
                });
            }

            // Fetch master categories and equipment names on page load
            fetchMasterCategories();
            fetchEquipmentNames();
            calculateNumberOfDays();

            // Add row button click event
            $('#add-row-btn').click(function (event) {
                event.preventDefault();
                addRow();
            });

            $(document).ready(function () {
                // Fetch venue addresses and client names for dropdowns
                function fetchVenueAddresses() {
                    $.ajax({
                        url: '/fetch_venue_addresses/',
                        type: 'GET',
                        success: function (data) {
                            var venueAddresses = data.venue_addresses;
                            var dropdownMenu = $('#venueAddressDropdown').next('.dropdown-menu');
                            dropdownMenu.empty();

                            $.each(venueAddresses, function (index, address) {
                                dropdownMenu.append('<li><a class="dropdown-item venue-address-item" href="#" style="width: 357px;">' + address + '</a></li>');
                            });
                        },
                        error: function (xhr, status, error) {
                            console.error('Error fetching venue addresses:', error);
                        }
                    });
                }

                function fetchClientName() {
                    $.ajax({
                        url: '/fetch_client_name/',
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            var clientNames = data.client_names;
                            var dropdownMenu = $('#clientNameDropdown').next('.dropdown-menu');
                            dropdownMenu.empty();

                            $.each(clientNames, function (index, client) {
                                dropdownMenu.append('<li><a class="dropdown-item client-name-item" href="#" data-client-name="' + client.name + '" data-client-type="' + client.type + '">' + client.name + '</a></li>');
                                console.log('name', client.name, client.type);
                            });
                        },
                        error: function (xhr, status, error) {
                            console.error('Error fetching client names:', error);
                        }
                    });
                }

                fetchVenueAddresses();
                fetchClientName();

                $('#clientNameDropdown').on('keyup', function () {
                    var value = $(this).val().toLowerCase();
                    var dropdownMenu = $(this).next('.dropdown-menu');
                    dropdownMenu.children('.dropdown-item').filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                    });
                });

                $('#venueAddressDropdown').on('keyup', function () {
                    var value = $(this).val().toLowerCase();
                    var dropdownMenu = $(this).next('.dropdown-menu');
                    dropdownMenu.children('.dropdown-item').filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                    });
                });

                $(document).on('click', '.client-name-item', function () {
                    var clientName = $(this).data('client-name');
                    var clientType = $(this).data('client-type');
                    var input = $(this).closest('.dropdown').find('.dropdown-toggle');
                    input.val(clientName);
                    input.dropdown('toggle');

                    // Fetch and display the contact number for the selected client name and type
                    fetchClientContactNumber(clientName, clientType);
                });

                $(document).on('click', '.venue-address-item', function () {
                    var venueAddress = $(this).text();
                    var input = $(this).closest('.dropdown').find('.dropdown-toggle');
                    input.val(venueAddress);
                    input.dropdown('toggle');
                });

                function fetchClientContactNumber(clientName, clientType) {
                    $.ajax({
                        url: '/fetch_client_contact_number/',
                        type: 'GET',
                        data: {client_name: clientName, client_type: clientType},
                        dataType: 'json',
                        success: function (data) {
                            $('#clientContactName').val(data.contact_person_name);
                            $('#clientContactNumber').val(data.contact_person_no);
                        },
                        error: function (xhr, status, error) {
                            console.error('Error fetching contact number:', error);
                        }
                    });
                }
            });

            // Initialize Select2 for crew type and employee dropdowns
            $('#crew_type').select2({
                placeholder: "Select Crew Type",
                allowClear: true
            });

            $('#employee').select2({
                placeholder: "Select Employee Name",
                allowClear: true
            });

            // Status dropdown change event
            $('#status').change(function () {
                var selectedValue = $(this).val();
                if (selectedValue === "Quotation") {
                    $('#quotation-fields').show();
                    $('#quotation-fields1').show();
                    $('#prepsheet-fields').hide();
                    $('#prepsheet-fields1').hide();
                } else if (selectedValue === "Perfoma") {
                    $('#quotation-fields1').show();
                    $('#quotation-fields').hide();
                    $('#prepsheet-fields').hide();
                } else if (selectedValue === "Prepsheet") {
                    $('#quotation-fields').hide();
                    $('#prepsheet-fields').show();
                    $('#quotation-fields1').hide();
                    fetchEmployeeNames();
                } else {
                    $('#quotation-fields').hide();
                    $('#prepsheet-fields').hide();
                    $('#quotation-fields1').hide();

                }
            });

            function fetchEmployeeNames() {
                $.ajax({
                    url: '/get_employee_name/',
                    type: 'GET',
                    success: function (response) {
                        var employeeDropdown = $('#employee');
                        employeeDropdown.empty();
                        employeeDropdown.append('<option value="" data-display="Select">Select</option>');
                        response.employee_names.forEach(function (employee) {
                            employeeDropdown.append('<option value="' + employee.name + '">' + employee.name + '</option>');
                        });
                        employeeDropdown.trigger('change');
                    },
                    error: function (xhr, status, error) {
                        console.error('Failed to fetch employee names:', error);
                    }
                });
            }

            // Close form button functionality
            $('#closeFormBtn').click(function () {
                $('#editJobsModal').modal('hide');
            });
            $('#searchForm').submit(function (event) {
                event.preventDefault();

                var searchText = $('#searchInput').val().trim().toLowerCase();

                $('#category-table-body tr').each(function () {
                    var jobNo = $(this).find('td:eq(2)').text().trim().toLowerCase();
                    var titleName = $(this).find('td:eq(3)').text().trim().toLowerCase();
                    var status = $(this).find('td:eq(4)').text().trim().toLowerCase();
                    if (jobNo.includes(searchText) || titleName.includes(searchText) || status.includes(searchText)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });

            // Clear search results and show all rows when search input is cleared
            $('#searchInput').on('input', function () {
                var searchText = $(this).val().trim().toLowerCase();

                if (searchText === '') {
                    $('#category-table-body tr').show();
                }
            });
            // Show Start Date and End Date Validation
            $(document).ready(function () {
                $('#showStart').change(function () {
                    var startDate = $(this).val();
                    $('#showEnd').attr('min', startDate);
                    validateDates();
                });

                $('#showEnd').change(function () {
                    validateDates();
                });

                function validateDates() {
                    var showStartDate = $('#showStart').val();
                    var showEndDate = $('#showEnd').val();

                    if (showStartDate && showEndDate) {
                        if (new Date(showEndDate) < new Date(showStartDate)) {
                            alert("Select a valid date. Show End Date cannot be before Show Start Date.");
                            $('#showEnd').val('');
                        }
                    }
                }
            });
        });
    </script>
    <body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
        <!--**********************************
            Nav header start
        ***********************************-->
        {% include 'product_tracking/navheader.html' %}
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
                    Header start
        ***********************************-->
        {% include 'product_tracking/header.html' %}
        <!--**********************************
                    Header end
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        {% include 'product_tracking/sidebar.html' %}
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="page-titles">
                <ol class="breadcrumb">
                    <li><h5 class="bc-title">Order book</h5></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.125 6.375L8.5 1.41667L14.875 6.375V14.1667C14.875 14.5424 14.7257 14.9027 14.4601 15.1684C14.1944 15.4341 13.8341 15.5833 13.4583 15.5833H3.54167C3.16594 15.5833 2.80561 15.4341 2.53993 15.1684C2.27426 14.9027 2.125 14.5424 2.125 14.1667V6.375Z"
                                  stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6.375 15.5833V8.5H10.625V15.5833" stroke="#2C2C2C" stroke-linecap="round"
                                  stroke-linejoin="round"/>
                        </svg>
                        Home </a>
                    </li>
                    <!-- <li class="breadcrumb-item active"><a href="javascript:void(0)">Task</a></li> -->
                </ol>
                {#                <a class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"#}
                {#                   aria-controls="offcanvasExample">+ Add Jobs</a>#}
                <button id="add-jobs-btn" class="btn btn-primary">Add Jobs</button>
            </div>
            <div class="container-fluid">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5 class="mb-0">Orders Summary</h5>
                    <div class="d-flex align-items-center">
                        <div class="icon-box  icon-box-sm task-tab me-2">
                            <a href="{% url 'task' %}">
                                <svg width="20" height="20" viewBox="0 0 21 21" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.50032 3H2.66699V8.83333H8.50032V3Z" stroke="white" stroke-width="1.5"
                                          stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M17.6668 3H11.8335V8.83333H17.6668V3Z" stroke="white" stroke-width="1.5"
                                          stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M17.6668 12.1667H11.8335V18H17.6668V12.1667Z" stroke="white"
                                          stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M8.50032 12.1667H2.66699V18H8.50032V12.1667Z" stroke="white"
                                          stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row task">
                                    <div class="col-xl-3 col-sm-4 col-6">
                                        <div class="task-summary">
                                            <div class="d-flex align-items-baseline">
                                                <h2 class="text-primary count" id="quatation-count">0</h2>
                                                <span>Number of jobs for Quatation</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-sm-4 col-6">
                                        <div class="task-summary">
                                            <div class="d-flex align-items-baseline">
                                                <h2 class="text-purple count" id="perfoma-count">0</h2>
                                                <span>Number of jobs for Perfoma</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-sm-4 col-6">
                                        <div class="task-summary">
                                            <div class="d-flex align-items-baseline">
                                                <h2 class="text-primary count" id="prepsheet-count">0</h2>
                                                <span>Number of jobs for Prepsheet</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-sm-4 col-6">
                                        <div class="task-summary">
                                            <div class="d-flex align-items-baseline">
                                                <h2 class="text-success count" id="DeliveryChallan-count">0</h2>
                                                <span>Completed</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mb-0">Task</h4>
                        </div><!-- end card header -->

                        <div class="card-body">
                            <div class="table-responsive table-card">
                                <table class="table primary-table-bordered"
                                       id="contact-table">
                                    <thead class="thead-primary" style="text-align: center;">
                                    <tr>
                                        <th scope="col" style="width: 15px;">SR NO</th>
                                        <th scope="col">Job No</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody id="category-table-body" style="text-align: center;">

                                    </tbody>
                                </table>
                            </div>
                        </div><!-- end card-body -->
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <div id="pagination-count" style="padding: 10px;">Showing 0 to 0 of 0 entries</div>
                            <div style="padding-bottom: 10px;margin: 5px;">
                                <button id="prev-page-btn" class="btn btn-primary me-2">Previous</button>
                                <button id="next-page-btn" class="btn btn-primary">Next</button>
                            </div>
                        </div>
                    </div><!-- end card -->
                </div>

            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <!--**********************************
                Add Content start
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        {% include 'product_tracking/footer.html' %}
        <!--**********************************
            Footer end
        ***********************************-->

    </div>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <!--**********************************
    Main wrapper end
    ***********************************-->

    </body>
{% endblock %}